<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AngularJS introduction</title>
		<meta name="description" content="AngularJS by Google! - HTML enhanced for web apps!">
		<meta name="author" content="Bachue Zhou">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/moon.css" id="theme">
		<link rel="stylesheet" href="lib/css/zenburn.css">
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>AngularJS</h1>
					<h3>a introduction</h3>
					<p><small>by <a href="https://twitter.com/iBachue">Bachue</a></small></p>
				</section>

				<section>
					<section>
						<h2>Hello world</h2>
						<h4><a href="/examples/1/hello.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<h6>hello.html</h6>
						<pre><code class="html">
&lt;html ng-app&gt;
    &lt;head&gt;
        &lt;script src="../js/angular.min.js"&gt;&lt;/script&gt;
        &lt;script src="controller.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div ng-controller='HelloController'&gt;
            &lt;input ng-model="greeting.text" /&gt;
            &lt;p&gt;{{greeting.text}}, World&lt;/p&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<h6>controller.js</h6>
						<pre><code class="javascript">
function HelloController($scope) {
    $scope.greeting = { text: 'Hello' };
}
						</code></pre>
						<aside class="notes">
							Controller, $scope, binding, ng-model
						</aside>
					</section>
				</section>

				<section>
					<section>
						<h2>Shopping Cart</h2>
						<h4><a href="/examples/2/index.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<pre><code class="html" style="max-height: 700px;">
&lt;html ng-app&gt;
    &lt;head&gt;&lt;title&gt;Your Shopping Cart&lt;/title&gt;&lt;/head&gt;
    &lt;body ng-controller='CartController'&gt;
        &lt;h1&gt;Your Order&lt;/h1&gt;
        &lt;div ng-repeat='item in items'&gt;
            &lt;span&gt;{{item.title}}&lt;/span&gt;
            &lt;input type='number' ng-model='item.quantity' /&gt;
            &lt;span&gt;{{item.price | currency}}&lt;/span&gt;
            &lt;span&gt;{{item.price * item.quantity | currency}}&lt;/span&gt;
            &lt;button ng-click='remove($index)'&gt;Remove&lt;/button&gt;
        &lt;/div&gt;
        &lt;script src='../js/angular.min.js'&gt;&lt;/script&gt;
        &lt;script type="text/javascript"&gt;
            function CartController($scope) {
                $scope.items = [
                    {title: 'Paint pots', quantity: 8, price: 3.95},
                    {title: 'Polka pots', quantity: 17, price: 12.95},
                    {title: 'Pebbles', quantity: 5, price: 6.95}
                ];
                $scope.remove = function(index) {
                    $scope.items.splice(index, 1);
                }
            }
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<aside class="notes">
							Binding expression, Functions, add or remove items, ng-click, ng-repeat, $index, Filters
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>A-Mail</h2>
						<h4><a href="/examples/3/index.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<h6>index.html</h6>
						<pre><code class="html">
&lt;html ng-app='AMail'&gt;
    &lt;head&gt;
        &lt;script src="../js/angular.min.js"&gt;&lt;/script&gt;
        &lt;script src="../js/angular-route.min.js"&gt;&lt;/script&gt;
        &lt;script src='controller.js'&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;A-Mail&lt;/h1&gt;
        &lt;div ng-view&gt;&lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<aside class="notes">
							simple index page, ng-view
						</aside>
					</section>
					<section>
						<h6>controller.js</h6>
						<pre><code class="javascript" style="max-height: 700px;">
var aMailServices = angular.module('AMail', ['ngRoute']);
aMailServices.config(function($routeProvider) {
    $routeProvider.
        when('/', {controller: 'ListController', templateUrl: 'list.html'}).
        when('/view/:id', {controller: 'DetailController', templateUrl: 'detail.html'}).
        otherwise({redirectTo: '/'});
});
var messages = [{
    id: 0, sender: 'jean@somecompany.com', subject: 'Hi there, old friend',
    date: 'Dec 7, 2013 12:32:00', recipients: ['greg@somecompany.com'],
    message: 'Hey, we should get together for lunch sometime and catch up. There are many things we should collaborate on this year.'
}, {
    id: 1, sender: 'maria@somecompany.com', subject: 'Where did you leave my laptop?', date: 'Dec 7, 2013 8:15:12', recipients: ['greg@somecompany.com'],
    message: 'I thought you were going to put it in my desk drawer. But it does not seem to be there.'
}, {
    id: 2, sender: 'bill@somecompany.com', subject: 'Lost python', date: 'Dec 6, 2013 20:35:02', recipients: ['greg@somecompany.com'],
    message: 'Nobody panic, but my pet python is missing from her cage. She doesn\'t move too fast, so just call me if you see her.'
}];
aMailServices.controller('ListController', function($scope) {
    $scope.messages = messages;
});
aMailServices.controller('DetailController', function($scope, $routeParams) {
    $scope.message = messages[$routeParams.id];
});
						</code></pre>
						<aside class="notes">
							Module, ngRoute, config(actually run after all controller are defined), $routeProvider, get angular variable, multiple views &amp; templates, multiple controller, $routeParams
						</aside>
					</section>
					<section>
						<h6>detail.html</h6>
						<pre><code class="html">
&lt;div&gt;&lt;strong&gt;Subject:&lt;/strong&gt; {{message.subject}} &lt;/div&gt;
&lt;div&gt;&lt;strong&gt;Sender:&lt;/strong&gt; {{message.sender}} &lt;/div&gt;
&lt;div&gt;&lt;strong&gt;Date:&lt;/strong&gt; {{message.date}} &lt;/div&gt;
&lt;div&gt;
    &lt;strong&gt;To:&lt;/strong&gt;
    &lt;span ng-repeat='recipient in message.recipients'&gt; {{recipient}} &lt;/span&gt;
&lt;/div&gt;
&lt;div&gt;{{message.message}}&lt;/div&gt;
&lt;a ng-href='#/'&gt;Back to message list&lt;/a&gt;
						</code></pre>
						<h6>list.html</h6>
						<pre><code class="html">
&lt;table&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;strong&gt;Sender&lt;/strong&gt;&lt;/td&gt;
        &lt;td&gt;&lt;strong&gt;Subject&lt;/strong&gt;&lt;/td&gt;
        &lt;td&gt;&lt;strong&gt;Date&lt;/strong&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr ng-repeat='message in messages'&gt;
        &lt;td&gt;{{message.sender}}&lt;/td&gt;
        &lt;td&gt;&lt;a ng-href='#/view/{{message.id}}'&gt;{{message.subject}}&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;{{message.date}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
						</code></pre>
						<aside class="notes">
							ng-href
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Capitalize</h2>
						<h4><a href="/examples/4/hello.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<pre><code class="html" style="max-height: 700px;">
&lt;html ng-app="HomeModule"&gt;
    &lt;head&gt;
        &lt;script src="../js/angular.min.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div ng-controller='HelloController'&gt;
            &lt;p ng-bind="page.heading | titleCase"&gt;&lt;/p&gt;
            &lt;input ng-model="page.heading" /&gt;
        &lt;/div&gt;
        &lt;script type="text/javascript"&gt;
            var homeModule = angular.module('HomeModule', []);
            homeModule.controller('HelloController', function($scope) {
                $scope.page = {heading: 'behold the majesty of your page title'};
            });
            homeModule.filter('titleCase', function() {
                return function(input) {
                    var words = input.split(' ');
                    for (var i = 0; i &lt; words.length; i++) {
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
                    };
                    return words.join(' ');
                };
            });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<aside class="notes">
							user defined filter, ng-bind
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Form</h2>
						<h4><a href="/examples/5/index.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<pre><code class="html" style="max-height: 700px;">
&lt;html ng-app='app'&gt;
    &lt;head&gt;
        &lt;title&gt;Form&lt;/title&gt;
        &lt;style&gt;
            input.ng-invalid { color: red; }
            input.ng-valid { color: green; }
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Sign Up&lt;/h1&gt;
        &lt;form name='addUserForm' ng-controller='AddUserController'&gt;
            &lt;div ng-show='message'&gt;{{message}}&lt;/div&gt;
            &lt;div&gt;*First name: &lt;input ng-model='user.first' name='firstName' required ng-pattern="/^[A-Z][a-z]+$/"&gt;&lt;/div&gt;
            &lt;div&gt;*Last name: &lt;input ng-model='user.last' required ng-pattern="/^[A-Z][a-z]+(\s[A-Z][a-z]*)*$/"&gt;&lt;/div&gt;
            &lt;div&gt;*Email: &lt;input type='email' ng-model='user.email' required&gt;&lt;/div&gt;
            &lt;div&gt;&nbsp;Age: &lt;input type='number' ng-model='user.age' ng-maxlength='3' ng-minlength='1' min="1"&gt;&lt;/div&gt;
            &lt;div&gt;&lt;button ng-click='addUser()' ng-disabled='!addUserForm.$valid'&gt;Submit&lt;/button&gt;&lt;/div&gt;
        &lt;/form&gt;
        &lt;script type="text/javascript" src='../js/angular.min.js'&gt;&lt;/script&gt;
        &lt;script type="text/javascript"&gt;
            var appModule = angular.module('app', []);
            appModule.controller('AddUserController', function($scope) {
                $scope.message = '';
                $scope.addUser = function() {
                    $scope.message = 'Thanks, ' + $scope.user.first + ', we added you!';
                };
            });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<aside class="notes">
							validator, ng-show, ng-if
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Rating</h2>
						<h4><a href="/examples/6/index.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<pre><code class="html" style="max-height: 700px;">
&lt;html ng-app='RankingApp'&gt;
    &lt;head&gt;
        &lt;style&gt;
            .rating { color: #a9a9a9; margin: 0; padding: 0; }
            ul.rating { display: inline-block; }
            .rating li { list-style-type: none; display: inline-block; padding: 1px; text-align: center; font-weight: bold; cursor: pointer; }
            .rating .filled { color: #21568b; }
        &lt;/style&gt;
        &lt;script src='../js/angular.min.js'&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body ng-controller='RankingController'&gt;
        &lt;h1&gt;Rating is {{rating}}&lt;/h1&gt;
        &lt;p&gt;
            &lt;h3&gt;Clickable Rating&lt;/h3&gt;
            &lt;div fundoo-rating rating-value="rating" max="10" on-rating-selected="saveRatingToServer(rating)"&gt;&lt;/div&gt;
        &lt;/p&gt;
        &lt;p&gt;
            &lt;h3&gt;Readonly rating&lt;/h3&gt;
            &lt;div fundoo-rating rating-value="rating" max="10" readonly="true"&gt;&lt;/div&gt;
        &lt;/p&gt;
        &lt;script type="text/javascript"&gt;
            angular.module('RankingApp', [])
                .controller('RankingController', function($scope, $window) {
                    $scope.rating = 5;
                    $scope.saveRatingToServer = function(rating) {
                      $window.alert('Rating selected - ' + rating);
                    };
                })
                .directive('fundooRating', function () {
                    return {
                        restrict: 'A',
                        template: '&lt;ul class="rating"&gt;&lt;li ng-repeat="star in stars" ng-class="star" ng-click="toggle($index)"&gt;\u2605&lt;/li&gt;&lt;/ul&gt;',
                        scope: {
                            ratingValue: '=', // Accept an object
                            max: '=',
                            readonly: '@', // Accept a string
                            onRatingSelected: '&amp;' // Accept a function
                        },
                        link: function (scope, elem, attrs) {
                            var updateStars = function() {
                                scope.stars = [];
                                for (var i = 0; i &lt; scope.max; i++) {
                                    scope.stars.push({filled: i &lt; scope.ratingValue});
                                }
                            };
                            scope.toggle = function(index) {
                                if (scope.readonly &amp;&amp; scope.readonly === 'true') return;
                                scope.ratingValue = index + 1;
                                scope.onRatingSelected({rating: index + 1});
                            };
                            scope.$watch('ratingValue', function(oldVal, newVal) {
                                if (newVal) updateStars();
                            });
                        }
                    }
              });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Fetching Data</h2>
						<h4><a href="/examples/7/index.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<pre><code class="html" style="max-height: 700px;">
&lt;html ng-app='ShoppingModule'&gt;
    &lt;head&gt;&lt;title&gt;Your Shopping Cart&lt;/title&gt;&lt;/head&gt;
    &lt;body ng-controller='ShoppingController'&gt;
        &lt;h1&gt;Shop!&lt;/h1&gt;
        &lt;table&gt;
            &lt;tr ng-repeat='item in items'&gt;
                &lt;td&gt;{{item.title}}&lt;/td&gt;
                &lt;td&gt;{{item.description}}&lt;/td&gt;
                &lt;td&gt;{{item.price | currency}}&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
        &lt;script src='../js/angular.min.js'&gt;&lt;/script&gt;
        &lt;script type="text/javascript"&gt;
            var ShoppingModule = angular.module('ShoppingModule', []);
            ShoppingModule.factory('Items', function($http) {
                return {
                    query: function(callback) {
                        $http.get('/shopping/items').success(callback);
                    }
                };
            });
            ShoppingModule.controller('ShoppingController', function($scope, Items) {
                Items.query(function(items) { $scope.items = items; });
            });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<aside class="notes">
							$http, promise, Factory
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Manipulating Data</h2>
						<h4><a href="/examples/8/index.html" target="_blank">Run</a></h4>
					</section>
					<section>
						<h6>index.html</h6>
						<pre><code class="html">
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Test Resource in Angular&lt;/title&gt;
        &lt;meta charset='utf-8' /&gt;
        &lt;script type='text/javascript' src='../js/require.min.js' defer async='true' data-main='scripts/main'&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div ng-view&gt;&lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
						<aside class="notes">
							requirejs
						</aside>
					</section>
					<section>
						<h6>main.js</h6>
						<pre><code class="javascript" style="max-height: 700px;">
require.config({
    paths: {
        angular: '../../js/angular.min',
        angular_route: '../../js/angular-route.min',
        angular_resource: '../../js/angular-resource.min',
        jquery: '../../js/jquery.min',
        domReady: '../../js/domReady.min'
    },
    shim: {
        angular: {
            deps: ['jquery'],
            exports: 'angular'
        },
        angular_resource: ['angular'],
        angular_route: ['angular']
    }
});
require(['angular', 'app', 'domReady', 'jquery', 'angular_route',
    'services/user_service',
    'controllers/root_controller', 'controllers/show_controller', 'controllers/new_controller', 'controllers/edit_controller'],
    function(angular, app, domReady, $) {
        app.config(function($routeProvider) {
            $routeProvider.when('/', {
                templateUrl: 'views/root.html',
                controller: 'RootController',
                resolve: {
                    users: function(UsersLoader) {
                        return UsersLoader();
                    }
                }
            }).when('/new', {
                templateUrl: 'views/new.html',
                controller: 'NewController'
            }).when('/edit/:id', {
                templateUrl: 'views/edit.html',
                controller: 'EditController',
                resolve: {
                    user: function(UserLoader) {
                        return UserLoader();
                    }
                }
            }).when('/:id', {
                templateUrl: 'views/show.html',
                controller: 'ShowController',
                resolve: {
                    user: function(UserLoader) {
                        return UserLoader();
                    }
                }
            }).otherwise({
                redirectTo: '/'
            });
        });
        domReady(function() {
            angular.bootstrap(document, ['MyApp']);
            $('html').addClass('ng-app: MyApp');
        });
});
						</code></pre>
						<aside class="notes">
							requirejs, domReady, angularjs bootstrap
						</aside>
					</section>
					<section>
						<h6>app.js</h6>
						<pre><code class="javascript">
define(['angular', 'angular_route', 'controllers/controllers', 'services/services'],
    function(angular) {
    return angular.module('MyApp', ['ngRoute', 'controllers', 'services']);
});
						</code></pre>
						<h6>controllers.js</h6>
						<pre><code class="javascript">
define(['angular'], function(angular) {
    return angular.module('controllers', []);
});
						</code></pre>
						<h6>services.js</h6>
						<pre><code class="javascript">
define(['angular', 'angular_resource'], function(angular) {
    return angular.module('services', ['ngResource']);
});
						</code></pre>
						<aside class="notes">
							module inheritance
						</aside>
					</section>
					<section>
						<h6>user_service.js</h6>
						<pre><code class="javascript" style="max-height: 700px;">
define(['services/services'], function(services) {
    services.factory('User', function($resource) {
        return $resource('/users/:id', {id: '@id'});
    });

    services.factory('UsersLoader', function(User, $q) {
        return function() {
            var delay = $q.defer();
            User.query(function(users) {
                delay.resolve(users);
            }, function() {
                delay.reject('Unable to list all users');
            });
            return delay.promise;
        };
    });

    services.factory('UserLoader', function(User, $q, $route) {
        return function() {
            var delay = $q.defer();
            User.get({id: $route.current.params.id}, function(user) {
                delay.resolve(user);
            }, function() {
                delay.reject('Unable to fetch user ' + $route.current.params.id);
            });
            return delay.promise;
        };
    });
});
						</code></pre>
						<aside class="notes">
							$resource, promise
						</aside>
					</section>
					<section>
						<h6>root_controller.js</h6>
						<pre><code class="javascript">
define(['controllers/controllers', 'services/user_service'], function(controllers) {
    controllers.controller('RootController', function($scope, users) {
        $scope.users = users;
    });
});
						</code></pre>
						<h6>new_controller.js</h6>
						<pre><code class="javascript">
define(['controllers/controllers', 'services/user_service'], function(controllers) {
    controllers.controller('NewController', function($scope, $location, User) {
        $scope.user = new User();
        $scope.save = function() {
            $scope.user.$save({
                name: $scope.user.name
            }, function(user) {
                $location.path('/' + user.id);
            });
        };
    });
});
						</code></pre>
						<aside class="notes">
							$location
						</aside>
					</section>
					<section>
						<h6>show_controllers.js</h6>
						<pre><code class="javascript">
define(['controllers/controllers', 'services/user_service'], function(controllers) {
    controllers.controller('ShowController', function($scope, user) {
        $scope.user = user;
    });
});
						</code></pre>
						<h6>edit_controller.js</h6>
						<pre><code class="javascript">
define(['controllers/controllers', 'services/user_service'], function(controllers) {
    controllers.controller('EditController', function($scope, $location, user) {
        $scope.user = user;
        $scope.save = function() {
            $scope.user.$save({
                id: $scope.user.id,
                name: $scope.user.name
            }, function(user) {
                $location.path('/' + user.id);
            });
        };
        $scope.remove = function() {
            $scope.user.$remove(function() {
                $location.path('/');
            });
            delete $scope.user;
        };
    });
});
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Extensions</h2>
					</section>
					<section>
						<h2>ui-router</h2>
						<h4>
							<a href="/examples/ui-router/index.html" target="_blank">Run</a>
							/
							<a href="https://github.com/angular-ui/ui-router" target="_blank">Github</a>
						</h4>
					</section>
					<section>
						<h2>Restangular</h2>
						<pre><code class="javascript">
Restangular.one('users').getList()  // GET: /users
	.then(function(users) {
	  // returns a list of users
	  $scope.user = users[0];   // first Restangular obj in list: { id: 123 }
	});
// Restangular objects are self-aware and know how to make their own restful requests
$scope.user.getList('cars');    // GET: /users/123/cars

// You can also use your own custom methods on Restangular objects
$scope.user.sendMessage();  // POST: /users/123/sendMessage

// Chain methods together to easily build complex requests
$scope.user.one('messages', 123).one('from', 123).getList('unread');
// GET: /user/123/messages/123/from/123/unread
						</code></pre>
						<a href="https://github.com/mgonto/restangular" target="_blank">Github</a>
					</section>
					<section>
						<h2>Bindonce</h2>
						<pre><code class="html">
&lt;ul&gt;
    &lt;li bindonce ng-repeat="person in Persons"&gt;
        &lt;a bo-href="'#/people/' + person.id"&gt;&lt;img bo-src="person.imageUrl"&gt;&lt;/a&gt;
        &lt;a bo-href="'#/people/' + person.id" bo-text="person.name"&gt;&lt;/a&gt;
        &lt;p bo-class="{'cycled':person.generated}" bo-html="person.description"&gt;&lt;/p&gt;
    &lt;/li&gt;
&lt;/ul&gt;
						</code></pre>
						<a href="https://github.com/Pasvaz/bindonce" target="_blank">Github</a>
					</section>
				</section>
				<section>
					<h1>Thanks</h1>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				theme: 'moon', // available themes are in /css/theme
				transition: 'zoom', // default/cube/page/concave/zoom/linear/fade/none
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
